body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  cursor: none; 
}

#game {
  width: 100vw;
  height: 100vh;
  background: url('https://github.com/soraiaevelin/Jogo.Soraia-/blob/b24b15871559fab53925662086b332f917454731/medieval-bg.jpg?raw=true') no-repeat center center/cover;
  position: relative;
}

#player {
  width: 80px;
  height: 110px;
  background: url('https://github.com/soraiaevelin/Jogo.Soraia-/blob/b24b15871559fab53925662086b332f917454731/character-basket.png?raw=true') no-repeat center/contain;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  width: 80px;  
  height: 80px; 
  position: absolute;
  top: -90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000; 
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  z-index: 100; 
}

#instructionModal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

#instructionModal img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

#playButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#countdown {
  font-size: 36px;
  margin-top: 10px;
  color: yellow;
}
